
 	@font-face {
    font-family: 'BloggerSans';
    src: url('fonts/BloggerSans.eot'); /* IE9 Compat Modes */
    src: url('fonts/BloggerSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/BloggerSans.woff') format('woff'), /* Modern Browsers */
         url('fonts/BloggerSans.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/BloggerSans.svg#BloggerSans') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
	}

 	@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
 	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

 		*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

.pricing_table_block {
	width: 100%;
	margin: 0 auto;
}

.pricing_table_div {
	padding: 30px 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-flex;
}

.pricing_table_item {
	width: 50%;
	background-color: #fff;
	box-shadow: 0px 0px 15px 2px rgba(136, 156, 176, 0.25);
	padding: 45px 30px;
	display: inline-block;
	position: relative;
	height: 25%;
}

.pricing_table_item_selected {
	width: 30%;
	background-color: #0086a0;
	box-shadow: 0px 0px 15px 2px rgba(136, 156, 176, 0.25);
	padding: 45px 30px;
	display: inline-block;
	position: relative;
	height: 25%;
	color: #fff;
}

/*.pricing_middle_item {
	padding-top: 65px;        
	padding-bottom: 65px;
}*/

.margin_right {
	margin-right: 10px;
}

.pricing_table_title {
	font-size: 34px;
	font-weight: 700;
	font-family: 'Karla', sans-serif;
	color: #5c6ac4;
	text-align: center;
	padding-bottom: 20px;
}

.pricing_table_price_div {
	border-radius: 50%;
	width: 145px;
	height: 145px;
	/*background-color: #f4f6f8;*/
	background-color: #5c6ac4;
	text-align: center;
	margin: 0 auto;
	color: #494949;
}

.doller_icon {
	font-size: 28px;
	font-family: 'BloggerSans';
	font-weight: normal;
	padding-right: 3px;
}

.pricing_table_price_div h2 {
	font-weight: 700;
	font-family: 'Karla', sans-serif;
	font-size: 30px;
}

.month_text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.pricing_table_price_div h2,
.pricing_table_price_div span {
	display: inline-block;
	position: relative;
	top: 38%;
	color: #fff;
}

.pricing_table_list ul {
	list-style: none;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 25px;
}

.pricing_table_list ul li {
	color: #212b35;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
	text-align: left;
}

.select_btn {
	text-align: center;
	margin-top: auto;
}

/*.select_btn button {
	background-color: #0086a0;
	padding: 10px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Karla', sans-serif;
	border: 0;
	cursor: pointer;
	border-radius: 20px;
	min-width: 170px;
}*/

.pricing_table_list ul li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	float: left;
	margin-left: -1.5em;
	color: #5c6ac4;
	font-size: 18px;
}

.pricing_table_list ul li:last-child {
	min-height: 56px;
}

.ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.ribbon-content {
	font-weight: 600;
	z-index: 2;
	font-size: 14px;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 10px 0;
	left: 0px;
	top: 28px;
	width: 200px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	font-family: 'Open Sans', sans-serif;
	background-color: #f9be00;
	color: #fff;
}

.pricing_table_item:hover {
	background-color: #fff;
	color: #0086a0;
	border: 1px solid #5c6ac4;
}

.pricing_table_item:hover .pricing_table_title,
.pricing_table_item:hover .pricing_table_list ul li:before {
	color: #5c6ac4;
	/*color: #fff;*/
}

.pricing_table_item {
	/*min-height: 635px;*/
	border: 1px solid #ccc;
	flex: 1;
	display: flex;
	flex-direction: column;
	height: auto;
}

/* .text-height {
	min-height: 295px;
} */

.pricing_middle_item {
	margin-top: -50px;
}

.pricing_middle_item h1.pricing_table_title {
	margin-top: 50px;
}

p.usage_note {
	padding-bottom: 24px;
}

.pricing_table_item_selected .pricing_table_list ul li {
	color: #fff !important;
}

.pricing_table_item_selected .pricing_table_list ul li:before {
	color: #fff !important;
}

.plan-selection ul {
	list-style: none;
}

.plan-selection ul li {
	color: #212b35;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: left;
	margin: 0px 0px 10px 0px;
}


@media screen and (max-width: 1250px) {
		.pricing_table_block {
			display: flex;
			justify-content: center;
		}
}

@media screen and (max-width: 991px) {
	.pricing_table_item {
		padding-left: 15px;
		padding-right: 15px;
	}

	.pricing_table_title {
		font-size: 26px;
		padding-bottom: 10px;
	}

	.select_btn button {
		font-size: 16px;
	}

	.pricing_table_price_div {
		width: 110px;
		height: 110px;
	}

	.pricing_table_price_div h2,
	.doller_icon {
		font-size: 21px;
	}

	.pricing_table_list ul {
		padding-bottom: 20px;
		padding-top: 25px;
	}

	.ribbon {
		width: 135px;
		height: 135px;
	}

	.ribbon-content {
		font-size: 12px;
		padding: 8px 0;
		left: -8px;
		top: 22px;
		width: 210px;
	}

}


@media screen and (max-width: 768px) {
	.margin_right {
		margin-right: 0;
	}

	.pricing_table_item {
		min-width: 50%;
	}

	.pricing_table_title {
		font-size: 28px;
		padding-bottom: 20px;
	}
	.pricing_table_div {
		width: 100%;
	}
	
}

@media screen and (max-width: 575px) {
	.pricing_table_div {
		flex-wrap: wrap;
	}

	.container.formcolor {
		text-align: center;
	}

	.m-0 {
		margin: 0px;
	}

	.mb-10px {
		margin-bottom: 10px;
	}
	.pricing_table_div {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
	}
	.pricing_table_item {
		width: 90%;
		margin-bottom: 20px;
	}
	.pricing_table_item {
		margin: 20px auto 0 auto;
	}
	.pricing_middle_item h1.pricing_table_title {
		margin-top: 0px;
	}

}

@media screen and (max-width: 360px) {
	.pricing_table_item {
		min-width: 100%;
	}
}