.fontpreview {
    width: 100%;
    text-align: left;
    margin: 15px 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #999;
    display: inline-block;
}
.price-slider_button{
    margin-left: 15px;
    display: inline-block;
}
.donationamount, .donation_product_amount {
    display: inline-block;
    margin-bottom: 15px;
    width: 25%;
    height: 40px;
    /*margin-left: 8%;*/
}
p.display_description {
    display: block;
    font-size: 12px;
    /* vertical-align: top;
    width: 90%; */
}
.price-form {
    display: inline-block;
    margin: 10px 0 10px 15px;
}
.amountsize {
    font-size: 16px;
}
p#amount-label {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0;
}
p.price {
    font-size: 16px;
    display: inline-block;
}
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #666666;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.donation_content{
    margin-bottom: 10px;
}
.product-image
{
    display: block;
    margin:0;
    margin-right:10px;
    width: 10%;    
}
input#textbox_amount#textbox_amount{
    clear: both;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ui-widget-overlay {
    background: #000 url('image/back.png') 50% 50% repeat !important;
    opacity: 0.7 !important;
}
div#dialog {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    margin: 0;
    padding: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
#donate-popup .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    top: 30%;
    transition: all 5s ease-in-out;
}
#donate-popup .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
#donate-popup .popup .donate-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
#donate-popup .popup .donate-close:hover {
    color: #06D85F;
}
#donate-popup .popup .donate-content {
    max-height: 30%;
    overflow: auto;
}
input#textbox_amount {
    display: inline-block;
    margin-right: 15px;  
}
@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    #donate-popup .popup {
        width: 70%;
    }
}
.display_title{
    font-size: 18px;
}
.donation_button{
    margin-top:0 !important;
    margin-left:15px;
    height: 40px;
}
.display_description p {
    margin: 0 !important;
}
#dropdown_textbox, #dropdown_product_textbox {
    height: 40px;
    margin-left:  10px;
}
.product-price-form {
    display: inline-block;
}
#donate-popup .popup .donate-close {
    top: -11px;
    right: 8px;
}