.fontpreview {
    width: 100%;
    text-align: left;
    margin: 15px 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #999;
    display: inline-block;

}
.donationamount {
    display: inline-block;
    margin-bottom: 15px;
    width: 25%;
    height: 40px;
}
.price-form {
    margin: 10px 10px 10px 0;
    display: inline-block;
}
.amountsize {
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
}
p#amount-label {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0;
}
p.price {
    font-size: 16px;
    display: inline-block;
}
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #666666;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ui-widget-overlay {
    background: #000 url('image/back.png') 50% 50% repeat !important;
    opacity: 0.7 !important;
}
div#dialog {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    margin: 0;
    padding: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    top: 30%;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .donate-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .donate-close:hover {
    color: #06D85F;
}
.popup .donate-content {
    max-height: 30%;
    overflow: auto;
}
@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.donation .active, .accordion:hover {
    background-color: #ccc; 
}
.panel {
    padding: 15px 18px;
    margin-top: 15px;
    display: none;
    background-color: white;
}
.panel p {
    word-wrap: break-word;
}
.accordion:hover,.accordion{
    background-color: transparent;
    padding: 0;
}
.price-slider{
    padding: 0px 15px 15px 15px;
    margin-bottom: 10px;
    background-color: #eee;
}
.price-slider:hover{
    background-color: #dcdcdc;
}
.accordion h3 {
    padding-top:  15px;
    margin-bottom: 0;
    font-size: 18px;
}
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    position: relative;
    bottom: 25px;
    font-size: 20px;
}

.donation .active:after {
    content: "\2212";
}
.textbox_amount {
    display: inline-block;
    margin-bottom: 15px;
    height: 40px;
}
.product-image {
    display:  inline-block;
    width: 15%;
}
.display_description {
    display:  inline-block;
    vertical-align: top;
    width: 85%;
}
.frontbutton{
    margin-bottom:  0;
    margin-left: 20px;
}
.ed_minimum_donation {
    display:  block;
}
.dropdown_textbox {
    height:  40px !important;
    margin-left: 10px !important;
}
#donate-popup .popup .donate-close {
    top: -11px;
    right: 8px;
}